                    .navigation {
                    	display: none;
                    	right: 410px;
                    	position:absolute; 
                    	z-index:7;
                    	width: 200px;
                    	border: 1px solid #999;
                    	margin: 0 auto; 
                    	height:400px;
				/*background-color:#FFF;
				overflow-y: scroll;
				overflow-x:hidden;*/
				top:0;
				background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
				
				overflow-y: scroll;
				overflow-x:hidden;
				height:400px;
				margin-top:5px;
			}

			.navigation li {
				line-height:25px;
				text-align:left;
				float:left;
				font-size:12px;
				width:95%;
				padding-left:15px;
				text-wrap:normal;
				
			}

			#navigation {
				
				overflow-y: scroll;
				overflow-x:hidden;
				height:400px;
				margin-top:5px;
				
			}

			.filterinput {
				margin-left: 5px;
				margin-top:10px;
				padding-left: 5px; 
				height:20px;
			}
			
			.filterform {
				text-align: center;
			}
			
			.clearable{
				background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
				border: 1px solid #999;
				border-radius: 3px;
				transition: background 0.4s;
			}
			.clearable.x  { background-position: right 5px center; }
			.clearable.onX{ cursor: pointer; }