html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
body
{
	font-family:Arial, Verdana, Geneva, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight:normal;
}
body, html
{
	height:100%;
}
body, *
{
	margin:0;
	padding:0;
}
ul li
{
	list-style:none;
}

.Popcontainer
{

	width:365px;
	padding:6px;
	border:3px solid #7b797c;
	position:relative;
	float:right;
}
.logo
{
	/*background:url(../images/logo.png);*/
	width:165px;
	height:15px;
	margin:10px auto;
	 width:113px;
 height:27px;
 float:left;
 margin-top:5px;
}
.logout_btn {
  position: absolute;
  right: 0;
  top: 45px;
}

.hide
{
	position:absolute;
	/*border:1px solid #a71f23;
	border-radius:20px;*/
	right:0px;
    top:-4px;
}
.hide a img
{
	border:0;	
}
.show
{
	position:absolute;
	right:21px !important;
    top:8px !important;
}
.show a {
	outline: none;
}

.refresh a
{
 background: url(../images/refresh.png);
 background-repeat: no-repeat;
 font-size: 12px;
 height: 20px;
 display: block;
 float: left;
 padding-left: 22px;
 padding-top: 3px;
 margin-left: 43px;
 margin-top: 6px;
 text-decoration:none;
 color:#000;
}
.hide a
{
	font-weight:bold;
	text-decoration:none;
	color:#000;
	padding:3px 0;
	display:block;
	font-size:14px;
	outline: none;
}
.hide a img, .show a img
{
	border:0;
}

/* show contact details */
.showcontact
{
	position:absolute;
		right:390px;
    top:7px;
}

 #showcontantdetails {
	position:absolute;
	right:390px;
	top:1px;
	background-color: rgb(255, 255, 255);
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	vertical-align: middle;
	width: auto;
	margin-bottom: 10px;
	border:1px solid #000;
	padding-left:15px;
	padding-right:15px;
	color:#292929;
}

#showcontantdetails ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size:12px;

} 
.heading {
  font-size:16px;
}

#showcontantdetails h3 {
   padding-top:10px;
   padding-bottom:10px;
   font-size:18px;
   text-align:center;
}

#showcontantdetails ul li {
  line-height:20px;
  border-bottom: 1px solid #b5b5b5;
}

#showcontantdetails ul > li > ul > li {
  border: 0 none;
}

#closecontact {
  float:right;
  font-size:14px;
  position:absolute;
  right:6px;
}

#closecontact a {
  text-decoration:none;
  cursor:pointer;
}

.showcontact img
{
	border:0;	
}

/* show contact details */

.Popcontainer h1 {
  clear: both;
  color: #292929;
  display: inline-block;
  font-size: 22px;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 265px;
}
.Room
{
	border:1px solid #b5b5b5;
	clear: both;
	height:auto;
}
.Room li
{
	border-bottom:1px solid #b5b5b5;
	padding:5px;
}
.Room li:last-child
{
	border-bottom:0;
}
.Room li > ul > li
{
	font-size:11px;
	border:0;
	height: 16px;
	line-height: 16px;
}
.Room li > ul > li > span > h2, .Room li > ul > li > span > h3
{
	font-weight: bold;
	font-size: 12px;
	float:left;
	margin-right:3px;
	margin-left:10px;
	line-height:10px;
}
.Room li > ul > li > span > h3
{
	font-weight:normal;
}
.Room .nomargin
{
	margin-left:0;
}
.Room select.Selectmargin
{
	margin-top:-2px;
}
.Room li > ul > li > span > select
{
	margin-left:8px;
}
.Room li ul li span 
{
	float:left;
}
.Controls
{
	float:left;
	margin-left:7px;
	margin-top:3px;
}
.Room li li .Controls li
{
	float:left;
	padding:0;
	border:0;
}
.Controls li.play, .Controls li.pause, .Controls li.reverse, .Controls li.forward
{
	background:url(../images/audio-control.png);
	background-repeat:no-repeat;
	width:17px;
	height:14px;
	background-position-x:1px;
	background-position-y:0px;
}
.Controls li.pause
{
	background:url("../images/audio-control.png") no-repeat scroll -14px 0px rgba(0, 0, 0, 0);
}
.Controls li.reverse
{
	background:url("../images/audio-control.png") no-repeat scroll -32px 0px rgba(0, 0, 0, 0);
}
.Controls li.forward
{
	background:url("../images/audio-control.png") no-repeat scroll -53px 0px rgba(0, 0, 0, 0);
}
.Controls li.play a, .Controls li.pause a, .Controls li.reverse a, .Controls li.forward a
{
	display:block;
	text-indent:-9999px;
}
label {
    display: inline;
}
 
.regular-checkbox {
    display: none;
}
 
.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding:5px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
	margin:0px 5px 0 2px;
	float:left;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
 
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 13px;
    position: absolute;
    top:-4px;
    left:1px;
    color: #951419;
}
@media \0screen
{
	.regular-checkbox
	{
		display: block;
		float:right;
	}
	.regular-checkbox + label
	{
		display:none;
	}	
	.border_labels
	{
		color:#b9b9b9;
	}
	.Controls LI.pause
	{
		background-position-x:-14px;
	}
	.Controls LI.reverse
	{
		background-position-x:-33px;
	}
	.Controls LI.forward
	{
		background-position-x:-54px;
	}
	#checkbox-1-24
	{
		float:left !important;
	}
	select.Selectmargin[name="drop"]
	{
		float:rigt !important;
	}
	select
	{
		height:auto!important;
	}
	.Room > LI > UL > LI > SPAN > SELECT
	{
		margin-left:7px;
	}
	#map_options_selector
	{
		margin-top:0px;
	}
}
.external
{
	clear:both;
	margin:0px 0px;
	margin-top:10px;
	text-align:center;
}
.external ul
{
	margin-top:10px;
}
.external li
{
	float:left;
	width:23%;
	text-align:center;
}
.external li a
{
	margin:0 5px;
	border:2px solid #222;
	border-radius:14px;
	display:block;
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	padding:5px 0;
	font-size:13px;
	font-weight:600;
}
span.width31
{
	width:31% !important;
}
span.width33
{
	width:34% !important;
}
span.width35
{
	width:35% !important;
}

span.width40
{
	width:40% !important;
}

span.width50
{
	width:50% !important;
}

span.width60
{
	width:60% !important;
}
span.width22
{
	width:20% !important;
}
span.width33 label, span.width31 label, span.width35 label
{
	float:right;
}


span h3.centertext
{
	text-align: center;
	width: 65% !important;
}



.alertbody
{
	font-family: 'Conv_MyriadPro-Regular' !important;
	color:#262626 !important;
}
.alert
{
	/*width:800px;*/
	height:auto;
	margin:0 auto;
	border:3px solid #F18308;
}
.alert a
{
	text-decoration:none;
	color:#262626;
	display:block;
}
.alert .header
{
	clear:both;
	height:40px;
	background:#F18308;
}
.select_box select
{
	height:30px;
	border-radius:3px;
	margin-left:5px;
	margin-top:4px;
	width:60px;
}
.alert .pageTitle h1
{
	font-size:28px;
	text-align:center;
	line-height:37px;
}
.alert ul
{
	list-style:none;
	padding:0 15px;
}
.alert li
{
	list-style:none;
	margin-bottom:10px;
}
.alert li.red, .alert li.green, .alert li.yellow, .alert li.blue, .alert li.grey, .alert li.purple, .alert li.orange,.alert li.pink
{
	border:1px solid #FF0000;
	border-left:10px solid #FF0000;
	min-height:70px;
	position:relative;
	padding-left:5px;
}
.alert li.grey
{
	border:1px solid #515151;
	border-left:10px solid #515151;	
}
.alert li.blue
{
	border:1px solid #0000FF;
	border-left:10px solid #0000FF;	
}
.alert li.green
{
	border:1px solid #00ff00;
	border-left:10px solid #00ff00;	
}
.alert li.yellow
{
	border:1px solid #FFFF00;
	border-left:10px solid #FFFF00;	
}
.alert li.purple
{
	border:1px solid #bb6d93;
	border-left:10px solid #bb6d93;	
}
.alert li.orange
{
	border:1px solid #ff6700;
	border-left:10px solid #ff6700;	
}
.alert li.pink
{
	border:1px solid #f0147f;
	border-left:10px solid #f0147f;	
}
.alert li.red .date, .alert li.green .date, .alert li.yellow .date, .alert li.blue .date, .alert li.grey .date,.alert li.purple .date, .alert li.orange .date,.alert li.pink .date
{
	font-size:14px;
	color:#454545;
	clear:both;
	padding:5px;
	margin-top:10px;
}
.alert li.red .title, .alert li.green .title, .alert li.yellow .title, .alert li.blue .title, .alert li.grey .title,.alert li.purple .title,.alert li.orange .title,.alert li.pink .title
{
	font-size:17px;
	clear:both;
	padding:5px;
	padding-top:0px;
}
.alert li.red button, .alert li.green button, .alert li.yellow button, .alert li.blue button, .alert li.grey button,.alert li.purple button,.alert li.orange button,.alert li.pink button
{
	border:1px solid rgba(255, 0, 0, .3);
	position:absolute;
	right:5px;
	top:5px;
	padding:5px;
	background:#fff;
	background:url(../images/map.png);
	background:url("../images/map.png") no-repeat scroll 94px 7px rgba(0, 0, 0, 0);
	padding-right:29px;
	cursor:pointer;
	outline:none;
}
.alert li.green button
{
	border:1px solid rgba(0, 255, 0, .3);
}
.alert li.yellow button
{
	border:1px solid rgba(255, 255, 0, .3);
}
.alert li.blue button
{
	border:1px solid rgba(0, 0, 255, .3);
}
.alert li.grey button
{
	border:1px solid rgba(51, 51, 51, .3);
}
.alert li.purple button
{
	border:1px solid rgba(255, 255, 0, .3);
}
.alert li.orange button
{
	border:1px solid rgba(0, 0, 255, .3);
}
.alert li.pink button
{
	border:1px solid rgba(51, 51, 51, .3);
}

/* index css */

 html {
				height: 100%
			}
			body {
				height: 100%;
				margin: 0;
				padding: 0
			}
			.mapcanvas {
				height: 100%;
				background: white url(../images/loading2.gif) no-repeat 50% 50%;
			}
			
			#loader {
				height: 100%;
				/*background: url(http://google-web-toolkit.googlecode.com/svn-history/r8457/trunk/user/src/com/google/gwt/cell/client/loading.gif) no-repeat 50% 50%;*/
				opacity: 0.6;
				background:url(../images/loading2.gif) no-repeat scroll 50% 50% rgba(255, 255, 255, 0.8);
				
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1000;
			}
			#loader_observation {
				height: 100%;
				/*background: url(http://google-web-toolkit.googlecode.com/svn-history/r8457/trunk/user/src/com/google/gwt/cell/client/loading.gif) no-repeat 50% 50%;*/
				opacity: 0.6;
				background:url(../images/loading2.gif) no-repeat scroll 50% 50% rgba(255, 255, 255, 0.8);
				
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1000;
			}
			#loader_layer_type {
				height: 100%;
				/*background: url(http://google-web-toolkit.googlecode.com/svn-history/r8457/trunk/user/src/com/google/gwt/cell/client/loading.gif) no-repeat 50% 50%;*/
				opacity: 0.6;
				background:url(../images/loading2.gif) no-repeat scroll 50% 50% rgba(255, 255, 255, 0.8);
				
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1000;
			}
			#navmenu {
				top: 8px;
				right:28px;
			}
			#navmenu a {
				padding:0px;
			}
			#Popcontainer {
				position: absolute;
				z-index: 3;
				top: 0px;
				right: 3px;
				height: 1050px;
				background-color: white;
			}

                        #dialog {
				opacity: 0.6;
				left: 5%;
				position: absolute;
				top: 60%;
				width: 30%;
				z-index: 1000;
                                border: 1px solid grey;
                                background:grey;
                                padding:5px;
                                color:#FFF;
			}
                       .marginleft10 {
                                margin-left:5px;
                        }
.assets
{
	padding:3px 5px;
}

.report_disabled {
display: none; 
position: absolute;  
width: 130px; 
height: 24px; 
padding: 3px 5px;
}

.ajaxwaitobj {
display:inline-block;
width: 16px;
height: 16px;
border: 0;
margin: 0;

}

/* Just use .gm-style-iw */
/*.gm-style-iw {
       overflow-y: visible;
        height:auto;
	width:280px;
}*/
/* index css */
